h1 {
  color: black;
}
#lorem {
  color: aqua;
}
#test {
  margin: 10px;
}
.lorem {
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  margin: 100px;
  background-color: darkgrey;
}
